Package: com.551.uberdriverbypass
Name: UberDriverApp Bypass iOS 16
Version: 0.5.0
Architecture: iphoneos-arm64
Description: Native Cronet app-version compatibility patch for Uber Driver 4.527.10000 on rootless iOS 16.
Maintainer: 551UK
Author: 551UK
Section: Tweaks
Depends: mobilesubstrate

